.profile{
    margin: 64px 0 96px;
    min-height: 60vh;
    form{
        width: 45%;
        padding: 32px;
        background: #fff;
        box-shadow: 0 4px 30px rgb(0 0 0 / 7%);
        border-radius: 12px;
        h3{
            margin-bottom: 24px;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
        }
        .label{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            span{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                margin-bottom: 16px;
            }
            .name{
                position: relative;
                background: #F7F7F7;
                border-radius: 8px; 
                padding: 12.5px 14px;   
                margin-bottom: 16px;
                
                    border: none;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    width: 100%;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        font-weight: 500;
                    }
            }
            .PhoneInput{
                
                position: relative;
                background: #F7F7F7;
                border-radius: 8px;
                width: 100%;
                .PhoneInputCountry{
                    display: none;
                }
                input{
                    padding: 12.5px 14px;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    &:focus{
                        outline: none;
                        
                    }
                }
            }
            .PhoneInput--focus{
                border: none;
                input{
                    border: none!important;
                    &:focus{
                        outline: rebeccapurple;
                    }
                }
            }
        }
        .login-btn{
            margin-top: 32px;
            width: 100%;
            padding: 14px 30px!important;
            font-size: 0.9375rem;
            box-shadow: none;
            color: #fff;
            min-width: 64px;
            box-sizing: border-box;
            transition: transform .2s ease-in-out;
            font-family: Proxima-Nova;
            font-weight: 500;
            line-height: 19px;
            border-radius: 8px;
            letter-spacing: normal;
            text-transform: none;
            background-color: #51267D;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            .spinner-border{
                margin-right: 20px;
            }
            &:hover{
                transform: translateY(-2px);
            }
        }
        .login-btn-disabled{
            background-color: rgba(81, 38, 125, 0.08);
            color: #51267d;
        }
    }
}

@media (max-width:800px){
    .profile{
        margin: 32px 0 68px;
        .container{
            max-width: 100%;
            form{
                width: 70%;
            }
        }
    }
}

@media (max-width:600px){
    .profile{
        .container{
            form{
                width: 100%;
            }
        }
    }
}